body {
    background-color: rgb(164, 190, 115);
}

.nav {
    list-style-type: none;
    background-color: rgb(153, 151, 211);
    margin: 0;
    padding: 0;
    overflow: hidden;
}

ul.nav li {
    float: left;
}

ul.nav li a {
    display: block;
    padding: 8px 16px;
    color: rgb(232, 177, 175);
    text-decoration: none;
    text-decoration: none;
    text-decoration: none;
}

ul.nav li a:hover {
    background-color: black;
    color: white;
}

.active {
    background-color: yellow;
}