body {
    background-color: #93a54d;
}

.losfeliz {
    font-family: los-feliz, serif;
    font-weight: 400;
    font-style: normal;
    color: black;
}

.losfeliz-big {
    font-family: los-feliz, serif;
    font-weight: 400;
    font-style: normal;
    font-size: large;
    color: black;
}

.citadel {
    font-family: citadel-inline, serif;
    font-weight: 400;
    font-style: normal;
    color: black;
}

.citadel-big {
    font-family: citadel-inline, serif;
    font-weight: 400;
    font-style: normal;
    font-size: large;
    color: black;
}

.citadelbold {
    font-family: citadel-solid, serif;
    font-weight: 500;
    font-style: normal;
    color: black;
}

.nav {
    list-style-type: none;
    background-color: #5B84B1FF;
    margin: 0;
    padding: 0;
    overflow: hidden;
    grid-column: 1/ span 3;
    grid-row: 1;
}

ul.nav li {
    float: left;
}

ul.nav li a {
    display: block;
    color: black;
    padding: 10px 20px;
    text-decoration: none;
}

ul.nav li a:hover {
    background-color: rgb(216, 98, 87);
    color: black;
}

.active {
    background-color: #FC766AFF;
}

.susbox {
    width: 200px;
    height: 200px;
    background-color: aquamarine;
    margin: 40px auto;
    animation-name: weird-box-to-circle;
    animation-duration: 10s;
    animation-delay: .5s;
    animation-iteration-count: infinite;
    animation-timing-function: cubic-bezier(0.99, 0.99, 0.55, 0.955);
    animation-direction: alternate;
    display: none;
}

@keyframes weird-box-to-circle {
    0% {
        border-radius: 0;
        background-color: turquoise;
        transform: rotate(0deg);
    }
    25% {
        border-radius: 75% 0 0 0;
        background-color: aqua;
        transform: rotate(100deg);
    }
    50% {
        border-radius: 75% 50% 0 0;
        background-color: aquamarine;
        transform: rotate(60deg);
    }
    75% {
        border-radius: 50% 75% 25% 0;
        background-color: aqua;
        transform: rotate(175deg);
    }
    100% {
        border-radius: 75% 90% 10% 20%;
        background-color: turquoise;
        transform: rotate(10deg);
    }
}

.grid-container {
    display: grid;
    grid-gap: 10px;
    padding: 10px;
}

.grid-item {
    background-color: #5B84B1FF;
    text-align: center;
    padding: 20px;
}

.h1 {
    grid-column: 1/ span 3;
    grid-row: 2;
}

.h2 {
    grid-column: 1/ span 3;
    grid-row: 3;
    font-size: xx-large;
}

.p1 {
    grid-column: 1;
    grid-row: 4;
}

.p2 {
    grid-column: 2;
    grid-row: 4;
}

.p3 {
    grid-column: 3;
    grid-row: 4;
}

.mainimg {
    grid-column: 1/ span 3;
    grid-row: 4;
    margin: auto;
}

.mainvid {
    grid-column: 1/ span 3;
    grid-row: 5;
    margin: auto;
}

.main {
    grid-column: 1/ span 2;
    grid-row: 5;
}

.sidenav {
    grid-column: 3;
    grid-row: 5/ span 6;
}

.main2 {
    grid-column: 1/ span 2;
    grid-row: 6;
}

.caption {
    grid-column: 2;
    grid-row: 6;
}

.hidden-footer .footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(50, 50, 50);
    color: white;
    text-align: center;
    display: none;
}

.hidden-footer:hover .footer {
    display: block;
}

.link:hover {
    color: rgb(199, 35, 35);
}