.losfeliz {
    font-family: los-feliz, serif;
    font-weight: 400;
    font-style: normal;
    color: white;
}

.losfeliz-big {
    font-family: los-feliz, serif;
    font-weight: 400;
    font-style: normal;
    font-size: large;
    color: white;
}

.citadel {
    font-family: citadel-inline, serif;
    font-weight: 400;
    font-style: normal;
    color: white;
}

.citadel-big {
    font-family: citadel-inline, serif;
    font-weight: 400;
    font-style: normal;
    font-size: large;
    color: white;
}

.citadelbold {
    font-family: citadel-solid, serif;
    font-weight: 400;
    font-style: normal;
    color: white;
}

.white-text {
    color: white;
}