body {
    background-color: rgb(231, 207, 138);
}

.nav {
    list-style-type: none;
    background-color: rgb(43, 73, 123);
    margin: 0;
    padding: 0;
    overflow: hidden;
}

ul.nav li {
    float: left;
}

ul.nav li a {
    display: block;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
}

ul.nav li a:hover {
    background-color: rgb(0, 70, 0);
    color: white;
}

.active {
    background-color: darkgreen;
}

.losfeliz {
    font-family: los-feliz, serif;
    font-weight: 400;
    font-style: normal;
}

.losfeliz-big {
    font-family: los-feliz, serif;
    font-weight: 400;
    font-style: normal;
    font-size: x-large;
}

.citadel {
    font-family: citadel-inline, serif;
    font-weight: 400;
    font-style: normal;
}

.citadel-big {
    font-family: citadel-inline, serif;
    font-weight: 400;
    font-style: normal;
    font-size: x-large;
}

.citadelbold {
    font-family: citadel-solid, serif;
    font-weight: 400;
    font-style: normal;
}

.grid-container {
    display: grid;
    grid-gap: 10px;
    padding: 10px;
}

.grid-item {
    background-color: red;
    text-align: center;
    font-size: 10px;
    padding: 20px;
}

.main {
    grid-column: 1/ span 2;
    grid-row: 4;
}

.main2 {
    grid-column: 1/ span 2;
    grid-row: 6;
}

.sidenav {
    grid-column: 3;
    grid-row: 4/ span 7;
    background-color: red;
}

.support {
    grid-column: 1;
    grid-row: 5;
    background-color: red;
}

.support2 {
    grid-column: 2;
    grid-row: 5;
    background-color: red;
}

.navmenu {
    grid-column: 1/ span 3;
    grid-row: 1;
}

.main-image {
    grid-column: 1/ span 3;
    grid-row: 3;
}

.h1 {
    grid-column: 1/ span 3;
    grid-row: 2;
}