.contact {
    font-size: 18px;
    text-decoration: none;
    color: #b5c01c;
    margin: 0;
}

a:hover {
    color: #ffffff;
}

.col-md-6 div {
    padding: 20px;
}

.title {
    color: #DFEE06;
}

.form-image {
    height: 475px;
}

@media only screen and (max-width:620px) {
    .left {
        margin-bottom: 10px;
    }
}