.short-left {
    padding: 5px;
    width: 20%;
    float: left;
    position: relative;
}

.middle-left {
    padding: 5px;
    width: 20%;
    float: left;
    position: relative;
}

.middle {
    padding: 5px;
    width: 20%;
    float: left;
    position: relative;
}

.middle-right {
    padding: 5px;
    width: 20%;
    float: left;
    position: relative;
}

.short-right {
    padding: 5px;
    width: 20%;
    float: left;
    position: relative;
}

.gallery img {
    width: 100%;
    position: relative;
}


/*Got some of the overlay code from this discussion: https: //community.adobe.com/t5/dreamweaver-discussions/making-an-image-full-screen-when-clicked-on/m-p/7483495#M7096*/

.photo-overlay {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 3;
    left: 0;
    background-size: cover;
    z-index: 3;
}

.close-photo-overlay {
    font-size: 30px;
    position: absolute;
    right: 50px;
    top: 50px;
    color: #DFEE06;
    z-index: 2;
    padding: 6px 9px;
    border: 1px solid #DFEE06;
}

.black-photo-overlay {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 3;
    left: 0;
    background-size: cover;
    z-index: 3;
}

.black-close-photo-overlay {
    font-size: 30px;
    position: absolute;
    right: 50px;
    top: 50px;
    color: black;
    z-index: 2;
    padding: 6px 9px;
    border: 1px solid black;
}

.lower-photo-overlay {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 8;
    left: 0;
    background-size: cover;
    z-index: 3;
    margin-top: 100px;
}

.lower-close-photo-overlay {
    font-size: 30px;
    position: absolute;
    right: 50px;
    top: 50px;
    color: black;
    z-index: 2;
    padding: 6px 9px;
    border: 1px solid black;
}

.black-close-photo-overlay:hover,
.close-photo-overlay:hover,
.lower-close-photo-overlay:hover {
    border: none;
}


/*Below is my own code*/

.short-left:hover .image-description,
.middle-left:hover .image-description,
.middle:hover .image-description,
.middle-right:hover .image-description,
.short-right:hover .image-description {
    display: block;
}

.short-left:hover img,
.middle-left:hover img,
.middle:hover img,
.middle-right:hover img,
.short-right:hover img {
    opacity: 0.5;
}

.image-description {
    display: none;
    z-index: 2;
    position: absolute;
    margin-top: 47.5%;
    width: 96%;
    height: 25%;
    color: white;
    background-color: gray;
}

.image-description p {
    font-size: 0.78vw;
    text-align: center;
    margin: 5px;
}

@media screen and (max-width:600px) {}

@media (min-width:621px) and (max-width:1000px) {
    .main {
        width: 80%;
    }
    .right {
        width: 100%;
    }
}