.short-left {
    padding: 5px;
    width: 20%;
    float: left;
    position: relative;
}

.middle-left {
    padding: 5px;
    width: 20%;
    float: left;
    position: relative;
}

.middle {
    padding: 5px;
    width: 20%;
    float: left;
    position: relative;
}

.middle-right {
    padding: 5px;
    width: 20%;
    float: left;
    position: relative;
}

.short-right {
    padding: 5px;
    width: 20%;
    float: left;
    position: relative;
}

.gallery img {
    width: 100%;
    position: relative;
}

.short-left:hover .image-description,
.middle-left:hover .image-description,
.middle:hover .image-description,
.middle-right:hover .image-description,
.short-right:hover .image-description {
    display: block;
}

.short-left:hover img,
.middle-left:hover img,
.middle:hover img,
.middle-right:hover img,
.short-right:hover img {
    opacity: 0.5;
}

.image-description {
    display: none;
    z-index: 1000000;
    position: absolute;
    margin-top: 47.5%;
    width: 96%;
    height: 25%;
    color: white;
    background-color: gray;
}

.image-description p {
    font-size: 0.78vw;
    text-align: center;
    margin: 5px;
}

@media screen and (max-width:600px) {}

@media (min-width:621px) and (max-width:1000px) {
    .main {
        width: 80%;
    }
    .right {
        width: 100%;
    }
}