@import url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap');
body {
    background-color: #282828;
    color: #DFEE06;
    font-family: "open-sans", sans-serif;
}

* {
    box-sizing: border-box;
}

.main {
    width: 50px;
    text-align: center;
}


/*Parts of this, including the padding, was from https://alvarotrigo.com/blog/hamburger-menu-css/'s demo*/

.nav {
    overflow: hidden;
    list-style-type: none;
    width: 100%;
    padding: 1em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.nav a {
    text-decoration: none;
    display: block;
    padding: 8px;
    text-align: center;
    color: #DFEE06;
    font-family: 'Comfortaa', cursive;
    font-size: 26px;
}

.nav a:hover {
    font-weight: bolder;
}


/*The code below is code that I got from https://alvarotrigo.com/blog/hamburger-menu-css/, it was responsive direction 1 */

.menu {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    margin: 0;
    padding: 0;
    z-index: 100000000000;
}

.menu>li {
    margin: 0 1rem;
    overflow: hidden;
}

.menu-button-container {
    display: none;
    height: 100%;
    width: 30px;
    cursor: pointer;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#menu-toggle {
    display: none;
}

.menu-button,
.menu-button::before,
.menu-button::after {
    display: block;
    background-color: white;
    position: absolute;
    height: 4px;
    width: 30px;
    transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
    border-radius: 2px;
}

.menu-button::before {
    content: '';
    margin-top: -8px;
}

.menu-button::after {
    content: '';
    margin-top: 8px;
}

#menu-toggle:checked+.menu-button-container .menu-button::before {
    margin-top: 0px;
    transform: rotate(405deg);
}

#menu-toggle:checked+.menu-button-container .menu-button {
    background: rgba(255, 255, 255, 0);
}

#menu-toggle:checked+.menu-button-container .menu-button::after {
    margin-top: 0px;
    transform: rotate(-405deg);
}

.menu-button-container {
    display: flex;
}

.menu {
    position: absolute;
    top: 0;
    margin-top: 75px;
    left: 0;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
}

#menu-toggle~.menu li {
    height: 0;
    margin: 0;
    padding: 0;
    border: 0;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
}

#menu-toggle:checked~.menu li {
    border: 1px solid #333;
    height: 4.7em;
    padding: 0.5em;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
}

.menu>li {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0.5em 0;
    width: 100%;
    color: white;
    background-color: #222;
}

.menu>li:not(:last-child) {
    border-bottom: 1px solid #444;
}


/*Below is all my own code*/

h1 {
    font-family: "aileron", sans-serif;
    font-style: normal;
    font-weight: 700;
}

h2 {
    font-family: "aileron", sans-serif;
    font-style: normal;
    font-weight: 400;
}

.big-body {
    text-align: center;
    height: 150px;
}

.left {
    width: 50%;
    float: left;
}

.right {
    width: 50%;
    float: left;
}

.main-block {
    width: 100%;
    float: left;
}

.image-right {
    width: 50%;
    float: left;
}

.image-logo img {
    height: 55px;
}

.centered {
    text-align: center;
}

.non-text-centered {
    margin: auto;
    display: block;
}

.long-line {
    width: 100%;
    height: 2px;
    float: left;
    background-color: #DFEE06;
}

.footer {
    margin-top: 10px;
    display: flex;
    height: 50px;
    width: 100%;
    background-color: #3b3b3b;
    font-family: 'Comfortaa';
}


/*Parts of this was used from this codepen demo: https://codepen.io/julesforrest/pen/qLpgNB */

.footer ul {
    overflow: hidden;
    list-style-type: none;
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    flex-wrap: wrap;
}

.footer ul li {
    margin: 0px;
}

@media (min-width: 500px) {
    ul {
        grid-auto-flow: column;
    }
}

.footer-ul li a {
    color: #b5c01c;
    text-decoration: none;
    box-shadow: inset 0 -1px 0 #b5c01c;
}

.footer-ul a:hover {
    box-shadow: inset 0 -1.2em 0 hsla(0, 0%, 100%, 0.4);
}

li:hover~li p {
    animation: wave-animation 0.3s infinite;
}

@keyframes wave-animation {
    0%,
    100% {
        transform: rotate(0deg);
    }
    25% {
        transform: rotate(20deg);
    }
    75% {
        transform: rotate(-15deg);
    }
}

@media only screen and (max-width:620px) {
    .nav a {
        font-size: small;
    }
    #menu-toggle:checked~.menu li {
        height: 3em;
    }
    .left {
        width: 100%;
    }
    .right {
        width: 100%;
    }
    .image-right {
        display: none;
    }
    .main-block {
        width: 100%;
    }
}

@media (min-width:621px) and (max-width:1000px) {
    .nav a {
        font-size: medium;
    }
    #menu-toggle:checked~.menu li {
        height: 3.15em;
    }
    .left {
        width: 60%;
    }
    .right {
        width: 60%;
    }
    .image-right {
        width: 40%;
    }
    .main-block {
        width: 100%
    }
}


/*Helps the footer become responsive*/

@media (min-width:361px) and (max-width:575px) {
    .footer ul li {
        margin: 10px;
    }
    .footer {
        height: 100px;
    }
}

@media (min-width:280px)and (max-width:360px) {
    .footer {
        height: 150px;
    }
    .footer ul li {
        margin: 10px;
    }
}

@media only screen and (max-width:280px) {
    .footer {
        height: 280px;
    }
    .footer ul li {
        margin: 20px;
    }
    .footer ul li p {
        display: none;
    }
}